body,
html {
    height: 98%;
    min-height: 98%;
    background-color: rgb(244, 246, 252);
}

.container {
    background-color: white;
    min-width: 1000px;
    height: 100%;
    border: 1px solid;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-right: 0px;
    padding-left: 0px;
}

.leftSide {
    width: 20%;
    float: left;
    height: 100%;
    min-width: 195px;
    border-right: 1px solid;
    border-color: black;
}

.rightSide {
    width: 80%;
    float: left;
    height: 100%;
}

.logo-field {
    min-height: 175px;
    height: 15%;
    width: 100%;
    border-bottom: 1px solid;
    padding: 10px;
}

.logo {
    height: 150px;
    width: 175px;
}

.leftmenu {
    height: 85%;
    padding-left: 0px;
}

.MyNavbar {
    /* height: 106px; */
    min-height: 106px;
    border-bottom: 1px solid;
}

.MyNavbarIcons {
    min-width: 100px;
}

.myRow {
    margin: 0;
}

.navbarNames {
    margin: 0;
    margin-top: -2%;
    cursor: pointer;
}

.navbarIcons {
    height: 98px;
    width: 98px;
}

.navbarIcons:hover {
    width: 100px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.side-menu-buttons:hover {
    color: rgb(216, 211, 211);
}

.submenu-field {
    background-color: #F9FAFC;
    /*Kasıyor*/
    /*padding-top: 15%;
            padding-bottom: 15%;
            padding-left: 8%*/
}

.card-header,
.card-link.collapsed::after {
    height: 65px;
}

.card-link::after {
    height: 65px;
}

.submenu-buttons:hover {
    color: rgb(216, 211, 211);
}

.leftSideSubmenuParentButtons {
    cursor: pointer;
}

.leftSideSubmenuParentButtons:after {
    content: url(../icons/dropup.svg);
    float: right;
    cursor: pointer;
}

.collapsed.leftSideSubmenuParentButtons:after {
    content: url(../icons/dropdown.svg);
    cursor: pointer;
}

.leftSideSubmenuChildButtons {
    background-color: #F9FAFC;
    padding-top: 20px;
    padding-bottom: 20px;
}

.leftSideSubmenuChildButton {
    color: #8492A6;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    width: 200px;
    padding-left: 18px;
    margin-top: 21px;
    margin-bottom: 21px;
    cursor: pointer;
}

.nav-item.nav-link.active {
    background-color: rgba(241, 241, 241, 0.432);
}